<div>
    <h1 mat-dialog-title i18n>Confirmation</h1>
    
    <div mat-dialog-content>
        <p i18n>Are you sure of deleting this car?</p>

        <input type="hidden" [(ngModel)]="carId">
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="carId">
            <mat-icon aria-hidden="true">done</mat-icon>
            <span i18n>Confirm</span>
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon aria-hidden="true">cancel</mat-icon>
            <span i18n>Cancel</span>
        </button>
    </div>
</div>