<div>
  <h2 class="mat-h1" i18n>My calendar</h2>

  <mat-tab-group>
    <mat-tab label="Coming matches">
      <mat-grid-list cols="1" rowHeight="210px">
        <mat-grid-tile *ngFor="let match of matchesToPlay$ | async">
          <mat-card *ngIf="match.status !== 'cancelled'" class="match-card">
            <mat-card-header>
              <div mat-card-avatar [ngClass]="['sports_icon', 'sports_icon_' + match.sport]"></div>
              <mat-card-title>
                {{ match.date | date:'longDate' }} <span i18n>at</span> {{ match.date | date:'shortTime' }}
    
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Options">
                  <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="showMatchDetail(match.code)" i18n>View</button>
                  <button mat-menu-item (click)="showCarpoolingOptions(match.code)" *ngIf="match.carpoolingEnabled" i18n>Carpool</button>
                  <button mat-menu-item (click)="showMatchJoinConfirmationDialog(match)" i18n>Change transportation options</button>
                  <button mat-menu-item (click)="showMatchAbandonConfirmationDialog(match)" i18n>Quit</button>
                  <button mat-menu-item (click)="showMatchCancelConfirmationDialog(match)" *ngIf="match.creator.email === currentPlayer.email" i18n>Cancel</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="match-card-content">
              <div>
                <p>{{ match.site.name }}<br/>{{ match.site.address }}</p>
                <p>
                  <span *ngIf="match.numPlayersMin != null">{{ match.numPlayersMin }} <span i18n> players required</span><br/></span>
                  <span *ngIf="match.numPlayersMax != null">{{ match.numPlayersMax }} <span i18n> players (max)</span><br/></span>
                  {{ match.numRegisteredPlayers }} <span i18n> players attending</span>
                </p>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="match.status === 'cancelled'" class="match-card cancelled-match">
            <mat-card-header>
              <div mat-card-avatar [ngClass]="['sports_icon', 'sports_icon_' + match.sport]"></div>
              <mat-card-title>
                {{ match.date | date:'longDate' }} <span i18n>at</span> {{ match.date | date:'shortTime' }}
    
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Options">
                  <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="showMatchDetail(match.code)" i18n>View</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="match-card-content">
              <div>
                <p>{{ match.site.name }}<br/>{{ match.site.address }}</p>
                <p>
                  <span *ngIf="match.numPlayersMin != null">{{ match.numPlayersMin }} <span i18n> players required</span><br/></span>
                  <span *ngIf="match.numPlayersMax != null">{{ match.numPlayersMax }} <span i18n> players (max)</span><br/></span>
                  {{ match.numRegisteredPlayers }} <span i18n> players were registered</span>
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Played matches">
      <mat-grid-list cols="1" rowHeight="180px">
        <mat-grid-tile *ngFor="let match of playedMatches$ | async">
          <mat-card class="match-card">
            <mat-card-header>
              <div mat-card-avatar [ngClass]="['sports_icon', 'sports_icon_' + match.sport]"></div>
              <mat-card-title>
                {{ match.date | date:'longDate' }} <span i18n>at</span> {{ match.date | date:'shortTime' }}
    
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Options">
                  <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="showMatchDetail(match.code)" i18n>View</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="match-card-content">
              <div>
                <p>{{ match.site.name }}<br/>{{ match.site.address }}</p>
                <p>{{ match.numRegisteredPlayers }} <span i18n> players attended</span></p>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>

  <div>
    <a mat-button routerLink="/" routerLinkActive="active" i18n>Back to the home page</a>
  </div>
</div>
