.match-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.no-match-message {
  margin: 15px;
}

.cancelled-match {
  background-color: #f5f5f5;
  background-image: url('/assets/img/others/cancelled.png');
  background-repeat: no-repeat;
  background-position: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.match-card-content {
  text-align: left;
}

.match-players {
  width: 40%;
  float: right;
  text-align: right;
}

.match-site {
  width: 40%;
  float: left;
}

.sports_icon {
  background-size: cover;
}

.sports_icon_football {
  background-image: url('/assets/img/sports/football.svg');
}

.sports_icon_basketball {
  background-image: url('/assets/img/sports/basketball.svg');
}

.sports_icon_baseball {
  background-image: url('/assets/img/sports/baseball.svg');
}

.sports_icon_volleyball {
  background-image: url('/assets/img/sports/volleyball.svg');
}

.sports_icon_rugby {
  background-image: url('/assets/img/sports/volleyball.svg');
}

.sports_icon_badminton {
  background-image: url('/assets/img/sports/badminton.svg');
}

.sports_icon_futsal {
  background-image: url('/assets/img/sports/futsal.svg');
}

.sports_icon_hockey {
  background-image: url('/assets/img/sports/hockey.svg');
}

.sports_icon_ice-hockey {
  background-image: url('/assets/img/sports/ice-hockey.svg');
}

.sports_icon_swimming {
  background-image: url('/assets/img/sports/swimming.svg');
}

.sports_icon_table-tennis {
  background-image: url('/assets/img/sports/table-tennis.svg');
}

.sports_icon_tennis {
  background-image: url('/assets/img/sports/tennis.svg');
}

.sports_icon_cricket {
  background-image: url('/assets/img/sports/cricket.svg');
}