<div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <h2 i18n>Join a match</h2>

        <p i18n>In order to join a match please start by typing its code and then click on Search to continue</p>

        <mat-card class="search-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label i18n>Match code</mat-label>
                            <input matInput formControlName="matchCode" (input)="resetMatch()">
                            <mat-error *ngIf="searchForm.controls['matchCode'].hasError('required') || searchForm.controls['matchCode'].hasError('pattern')" i18n>
                                A valid match code is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid" i18n>
                    <mat-icon aria-hidden="true">search</mat-icon>
                    Search
                </button>
            </mat-card-actions>
        </mat-card>

        <div *ngIf="requestSent && match">
            <app-match-detail [mode]="'JOIN'" [match]="match"></app-match-detail>
        </div>

        <div *ngIf="requestSent && !match">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span i18n>No match found for this code</span>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </form>

    <div>
        <a mat-button routerLink="/" routerLinkActive="active" i18n>Back to the home page</a>
    </div>
</div>