<div>
    <h1 mat-dialog-title i18n>Confirmation</h1>
    
    <div mat-dialog-content>
        <div *ngIf="!data.carpoolingEnabled" class="notice">
            <span i18n>This match does not have carpooling features enabled</span>
        </div>

        <p i18n>Are you sure of joining the match planned for {{ data.matchDate | date:'longDate' }} at
            {{ data.matchDate | date:'shortTime' }}?</p>
    
        <mat-radio-group aria-label="Select an option" [(ngModel)]="joinMode" class="radio-group">
            <mat-radio-button class="radio-button" value="JOIN_WITH_CAR" i18n>Yes, and I take my car to go to</mat-radio-button>
            <mat-radio-button class="radio-button" value="JOIN_WITHOUT_CAR" [disabled]="!data.carpoolingEnabled" i18n>Yes, and I will need a car to go to</mat-radio-button>
            <mat-radio-button class="radio-button" value="JOIN_ONLY" i18n>Yes, and I will go by my own</mat-radio-button>
        </mat-radio-group>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="joinMode" i18n>
            <mat-icon aria-hidden="true">done</mat-icon>
            Confirm
        </button>
        <button mat-raised-button color="warn" mat-dialog-close i18n>
            <mat-icon aria-hidden="true">cancel</mat-icon>
            Cancel
        </button>
    </div>
</div>