<div>
    <h1 mat-dialog-title i18n>Confirmation</h1>
    
    <div mat-dialog-content>
        <p i18n>Are you sure of quitting this match? This action will not cancel the match unless you are the last player in the list.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="true">
            <mat-icon aria-hidden="true">done</mat-icon>
            <span id="confirm_button" i18n>Confirm</span>
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon aria-hidden="true">cancel</mat-icon>
            <span id="cancel_button" i18n>Cancel</span>
        </button>
    </div>
</div>