<div>
    <h2 i18n>What do you want to do?</h2>

    <nav>
        <a mat-raised-button color="primary" routerLink="/matches/create" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">post_add</mat-icon>
            Create a new match
        </a>
        <a mat-raised-button routerLink="/matches/search" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">search</mat-icon>
            Join a match
        </a>
        <a mat-raised-button routerLink="/matches/list" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">calendar_today</mat-icon>
            View my calendar
        </a>
    </nav>
</div>