<div>
    <form [formGroup]="registryForm" novalidate>
        <h2 i18n>Join match with a car</h2>

        <p i18n>Please select a car from the ones that you may already have registered or register a new one below.</p>

        <mat-card class="registry-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label i18n>Which car?</mat-label>
                            <mat-select formControlName="car">
                                <mat-option *ngFor="let car of cars$ | async" [value]="car">
                                    {{ car.name }} ({{ car.numSeats }} <span i18n>seats</span>)
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="button" (click)="joinMatchWithExistingCar()" i18n>
                    <mat-icon aria-hidden="true">done</mat-icon>
                    Join using this car
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="registry-card">
            <mat-card-header>
                <mat-card-title i18n>Register a new car</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p i18n>Please register your car's details below:</p>

                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label i18n>Title or name</mat-label>
                            <input matInput formControlName="carName">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label i18n>Number of seats (passengers)</mat-label>
                            <input matInput type="number" placeholder="Max" formControlName="carSeats">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="button" (click)="joinMatchWithNewCar()" i18n>
                    <mat-icon aria-hidden="true">done</mat-icon>
                    Join using this car
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

    <div>
        <a mat-button routerLink="/" routerLinkActive="active" i18n>Back to the home page</a>
    </div>
</div>