<div>
    <form [formGroup]="requestForm" (ngSubmit)="submitRequest()">
        <h2 i18n>Reset your password</h2>

        <p *ngIf="!token" i18n>In order to reset your sign-in password you must provide your registered email address. When finished, click on Send to continue. 
            Please follow the instructions that you will receive in this address.
        </p>

        <mat-card class="email-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label i18n>Email address</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="requestForm.controls['email'].hasError('required') || requestForm.controls['email'].hasError('email')" i18n>
                                A valid email address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="(token && user) || requestForm.invalid" i18n>
                    <mat-icon aria-hidden="true">email</mat-icon>
                    Send
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

    <form [formGroup]="passwordResetForm" novalidate (ngSubmit)="submitUpdate()">
        <div *ngIf="token && user">
            <p i18n>Please type your new password:</p>

            <mat-card class="passwords-card">
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label i18n>New password</mat-label>
                                <input matInput type="password" formControlName="newPassword">
                                <mat-error *ngIf="passwordResetForm.controls['newPassword'].hasError('required') || passwordResetForm.controls['newPassword'].hasError('pattern')" i18n>
                                    A valid confirmation password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-label i18n>Confirm your password</mat-label>
                                <input matInput type="password" formControlName="passwordConfirmation">
                                <mat-error *ngIf="passwordResetForm.controls['passwordConfirmation'].hasError('required') || passwordResetForm.controls['passwordConfirmation'].hasError('pattern')" i18n>
                                    A valid confirmation password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit" [disabled]="passwordResetForm.invalid" i18n>
                        <mat-icon aria-hidden="true">done</mat-icon>
                        Reset password
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </form>

    <div>
        <a mat-button routerLink="/" routerLinkActive="active" i18n>Back to the home page</a>
    </div>
</div>