<div *ngIf="match && mode">
    <mat-card class="detail-card">
        <mat-card-header>
            <div mat-card-avatar [ngClass]="['sports_icon', 'sports_icon_' + match.sport]"></div>
            <mat-card-title>
                Match details
            </mat-card-title>
            <mat-card-subtitle>
                {{ match.code }} <span i18n>created by</span> {{ match.creator.first_name }} {{ match.creator.surname }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <table>
                <tr class="row">
                    <td class="leftcol">
                        <span i18n>When?</span>
                    </td>
                    <td class="rightcol">
                        {{ match.date | date:'longDate' }} <span i18n>at</span> {{ match.date | date:'shortTime' }}
                    </td>
                </tr>
                <tr class="row">
                    <td class="leftcol">
                        <span i18n>Where?</span>
                    </td>
                    <td class="rightcol">
                        {{ match.site.name }}<br />
                        {{ match.site.address }}<br />
                        {{ match.site.post_code }} {{ match.site.city }} {{ match.site.country }}
                    </td>
                </tr>
                <tr class="row">
                    <td class="leftcol">
                        <span i18n>Who's coming?</span>
                    </td>
                    <td class="rightcol">
                        <mat-list *ngIf="registrations">
                            <mat-list-item *ngFor="let registration of registrations">
                                <mat-icon *ngIf="registration.car_confirmed" matListIcon>directions_car</mat-icon>
                                <mat-icon *ngIf="!registration.car_confirmed" matListIcon>face</mat-icon>
                                <span *ngIf="currentPlayer && currentPlayer.id === registration.player.id" class="marked">
                                    {{ registration.player.first_name }}
                                </span>
                                <span *ngIf="currentPlayer === undefined || currentPlayer.id !== registration.player.id">
                                    {{ registration.player.first_name }}
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </td>
                </tr>
            </table>
        </mat-card-content>
        <mat-card-actions *ngIf="mode === 'JOIN'">
            <button mat-raised-button color="primary" type="button" [disabled]="playerAlreadyRegistered || pastMatch || !placesAvailable" (click)="openMatchJoinConfirmationDialog()" i18n>Join</button>
        </mat-card-actions>
    </mat-card>
</div>