<div>
  <form [formGroup]="registryForm" novalidate (ngSubmit)="onSubmit()">

    <h2 i18n>Register your account</h2>

    <mat-card class="registry-card">
      <mat-card-header>
        <mat-card-title i18n>Your personal details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>First name</mat-label>
              <input matInput formControlName="firstName">
              <mat-error *ngIf="registryForm.controls['firstName'].hasError('required')" i18n>
                Your first name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Surname</mat-label>
              <input matInput formControlName="surname">
              <mat-error *ngIf="registryForm.controls['surname'].hasError('required')" i18n>
                Your surname is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Email address</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="registryForm.controls['email'].hasError('required') || registryForm.controls['email'].hasError('email')" i18n>
                A valid email address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="registryForm.controls['password'].hasError('required') || registryForm.controls['password'].hasError('minLength')" i18n>
                A valid password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Confirm your password</mat-label>
              <input matInput type="password" formControlName="passwordConfirmation">
              <mat-error *ngIf="registryForm.controls['passwordConfirmation'].hasError('required') || registryForm.controls['passwordConfirmation'].hasError('minLength')" i18n>
                A valid confirmation password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="registryForm.invalid" i18n>Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <div>
    <a mat-button routerLink="/" routerLinkActive="active" i18n>Back to the home page</a>
  </div>
</div>