<div>
    <form [formGroup]="registryForm" novalidate (ngSubmit)="onSubmit()">
        <h1 mat-dialog-title i18n>Add a new site</h1>

        <div mat-dialog-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="wide">
                        <mat-label i18n>Site name</mat-label>
                        <input matInput formControlName="name" size="80" maxlength="255">
                        <mat-error *ngIf="registryForm.controls['name'].hasError('required')" i18n>
                            A name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="wide">
                        <mat-label i18n>Site address</mat-label>
                        <textarea matInput type="text" formControlName="address" rows="2"></textarea>
                        <mat-error *ngIf="registryForm.controls['address'].hasError('required')" i18n>
                            An address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="wide">
                        <mat-label i18n>Phone number</mat-label>
                        <input matInput type="tel" formControlName="phoneNumber" maxlength="16">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="data" i18n>
                <mat-icon aria-hidden="true">done</mat-icon>
                Add site
            </button>
            <button mat-raised-button color="warn" mat-dialog-close i18n>
                <mat-icon aria-hidden="true">cancel</mat-icon>
                Cancel
            </button>
        </div>
    </form>
</div>