<header role="banner">
    <div id="header">
        <mat-toolbar>
            <div class="title-block">
                <a routerLink="/" routerLinkActive="active">
                    <h1>Footero</h1>
                </a>
            </div>
            <div *ngIf="currentUser !== null">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon aria-hidden="true">face</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled><span i18n>Signed in as</span> {{ currentUser.email }}</button>
                    <button mat-menu-item routerLink="/manage/my-profile" routerLinkActive="active"><span i18n>My profile</span></button>
                    <button mat-menu-item routerLink="/manage/my-cars" routerLinkActive="active"><span i18n>Manage my cars</span></button>
                    <button mat-menu-item (click)="signout()"><span i18n>Sign out</span></button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>
</header>

<main role="main">
    <router-outlet></router-outlet>
</main>

<footer role="contentinfo">
    <div id="footer">
    </div>
</footer>
