#header {
    width: 100%;
    float: left;
    position: relative;
}

.logo-block {
    padding: 0.5em;
    float: left;
    position: relative;
}

.title-block {
    padding: 0.5em;
    width: 85%;
    float: right;
    position: relative;
}
