<div>
    <h2 i18n>Welcome!</h2>

    <p i18n>Footero is the new way of planning matches between friends and colleagues. Let's explore some interesting features already available:</p>

    <ul>
        <li><strong i18n>Carpooling</strong>. <span i18n>With Footero, you can share your car with other players to join a place or ask for a seat in someone else's car to go and play your favourite sport. Let's improve transportation together!</span></li>
        <li><strong i18n>Notifications</strong>. <span i18n>Being notified of changes is important when planning events. Should I keep or should I cancel this match? May I find everyone there? Did anybody cancel or change of mind? Footeroo will let you know about it.</span></li>
    </ul>

    <p i18n>Start using Footeroo by clicking on one of the options below.</p>

    <h2 i18n>What would you like to do?</h2>

    <p i18n>I would like to...</p>

    <nav>
        <a mat-raised-button color="primary" routerLink="/create" routerLinkActive="active">
            <mat-icon aria-hidden="true">post_add</mat-icon>
            <span i18n>Create a new match</span>
        </a>
        <a mat-raised-button routerLink="/join" routerLinkActive="active">
            <mat-icon aria-hidden="true">search</mat-icon>
            <span i18n>Join a match</span>
        </a>
        <a mat-raised-button routerLink="/list" routerLinkActive="active">
            <mat-icon aria-hidden="true">calendar_today</mat-icon>
            <span i18n>View my calendar</span>
        </a>
    </nav>
</div>
