<div>
    <h2 i18n>Welcome!</h2>

    <p>Footeroo is the new way of planning football matches between friends and colleagues. Let's explore some interesting features already available:</p>

    <ul>
        <li i18n><strong>Carpooling</strong>. With Footeroo, you can share your car with other players to join a place or ask for a seat in someone else's car to go and play your favourite sport. Let's improve transportation together!</li>
        <li i18n><strong>Notifications</strong>. Being notified of changes is important when planning events. Should I keep or should I cancel this match? May I find everyone there? Did anybody cancel or change of mind? Footeroo will let you know about it.</li>
    </ul>
    
    <p>Start using Footeroo by clicking on one of the options below.</p>
    
    <h2 i18n>What would you like to do?</h2>

    <nav>
        <a mat-raised-button color="primary" routerLink="/matches/create" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">post_add</mat-icon>
            Create a new match
        </a>
        <a mat-raised-button routerLink="/matches/search" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">search</mat-icon>
            Join a match
        </a>
        <a mat-raised-button routerLink="/matches/list" routerLinkActive="active" i18n>
            <mat-icon aria-hidden="true">calendar_today</mat-icon>
            View my calendar
        </a>
        <a mat-raised-button routerLink="/profile" routerLinkActive="active" *ngIf="currentPlayer" i18n>
            <mat-icon aria-hidden="true">face</mat-icon>
            Manage my profile
        </a>
    </nav>
</div>