<div>
  <h2 i18n>Sign-in</h2>

  <form [formGroup]="signinForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="signin-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Username</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="username">
              <mat-error *ngIf="signinForm.controls['username'].hasError('required') || signinForm.controls['username'].hasError('email')" i18n>
                A valid username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label i18n>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="signinForm.controls['password'].hasError('required') || signinForm.controls['password'].hasError('minLength')" i18n>
                A valid password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid" i18n>Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <div>
    <a mat-button routerLinkActive="active" routerLink="/register" i18n>
      Register as a new player
    </a>
  </div>
</div>