<div>
    <h1 mat-dialog-title i18n>Confirmation</h1>
    
    <div mat-dialog-content>
        <p i18n>Are you sure of cancelling the match planned for {{ data.matchDate | date:'longDate' }} at
            {{ data.matchDate | date:'shortTime' }}?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="true" i18n>
            <mat-icon aria-hidden="true">done</mat-icon>
            Confirm
        </button>
        <button mat-raised-button color="warn" mat-dialog-close i18n>
            <mat-icon aria-hidden="true">cancel</mat-icon>
            Cancel
        </button>
    </div>
</div>