@media screen and (min-width: 480px) {
    .row {
        display: flex;
        flex-direction: row;
    }

    .col {
        flex: 1;
        margin-right: 20px;
    }
    
    .col:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .col {
        width: 100%;
    }
}

.full-width {
    width: 100%;
}

.step-content {
    min-width: 120px;
    margin: 20px auto;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
}