.full-width {
    width: 100%;
}
  
.registry-card {
    min-width: 120px;
    margin: 20px auto;
}
  
.row {
    display: flex;
    flex-direction: row;
}
  
.col {
    flex: 1;
    margin-right: 20px;
}
  
.col:last-child {
    margin-right: 0;
}

a {
    color: #336699;
}

a:visited {
    color: #336699;
}