<form [formGroup]="registryForm" novalidate (ngSubmit)="onSubmit()">
    <h2 i18n>Create a new match</h2>

    <mat-card class="registry-card">
        <mat-card-header>
            <mat-card-title>Match details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label i18n>When?</mat-label>
                        <input matInput formControlName="date" [min]="minDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="registryForm.controls['time'].hasError('required')">
                            A date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label i18n>At what time?</mat-label>
                        <input matInput type="time" formControlName="time">
                        <mat-error *ngIf="registryForm.controls['time'].hasError('required')">
                            A time is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label i18n>How many players?</mat-label>
                        <input matInput type="number" placeholder="Min" formControlName="numPlayersMin">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Max" formControlName="numPlayersMax">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label i18n>Where?</mat-label>
                        <mat-select formControlName="site">
                            <mat-option *ngFor="let site of sites" [value]="site.id">
                                {{ site.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="registryForm.controls['site'].hasError('required')">
                            A place is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <button mat-raised-button aria-label="Add" aria-hidden="false" svgIcon="list-add"></button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>