@media (min-width: 640px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
}

@media (min-width: 1280px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }
}

html, body { height: 100%; }

body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
